.App {
    text-align: left;
}

.App-main {
    font-size: calc(10px + 1vmin);
    padding-left: 20vw;
    padding-top: 5vh;
}

.App-main input[type="text"] {
    font-size: calc(8px + 1vmin);
}

.App-main button {
    font-size: calc(8px + 1vmin);
}