.header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: calc(10px + 2vh);
}

.header-content {
    display: inline-block;
}

.header-inline-block {
    display: inline-block;
    margin-right: calc(5px + 1vh);
    margin-left: calc(5px + 1vh);
}